include("widgets/core/launcher.widget")
include("widgets/core/showdesktop.widget")
include("widgets/core/workspaces.widget")
include("widgets/core/clock.widget")
include("widgets/media/media-player.widget")
include("widgets/controls/volume-text.widget")
include("widgets/controls/brightness-text.widget")
include("widgets/system/battery-text.widget")
include("widgets/system/network-bandwidth.widget")
include("widgets/controls/bluetooth.widget")
include("widgets/system/temperature.widget")
include("widgets/system/cpu-text.widget")
include("widgets/system/memory-text.widget")
include("widgets/controls/power-profile.widget")
include("widgets/core/keyboard-layout.widget")
include("widgets/controls/nightlight.widget")
include("widgets/popups/ocws-control-center.widget")
include("widgets/core/keybinds.widget")
include("widgets/core/dock.widget")